# 1. Khai báo môi trường nhập liệu
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export SDL_IM_MODULE=fcitx
export GLFW_IM_MODULE=fcitx  # Đổi sang fcitx cho đồng bộ

# 2. Khởi động
(
    sleep 3
    fcitx5 -rd
    copyq &
    flameshot &
) > /dev/null 2>&1 & disown