SUBSYSTEM=="misc", KERNEL=="uinput", MODE="0666", GROUP="uinput", OPTIONS+="static_node=uinput"
KERNEL=="event*", NAME="input/%k", MODE="0666", GROUP="input"
