[Unit]
Description=Robot thong minh canh layout US cho Phuong
After=graphical-session.target

[Service]
Type=simple
# Trỏ đúng đường dẫn đến file script bạn vừa sửa ở trên
ExecStart=/usr/bin/bash %h/dotfiles/bin/reset_kb.sh
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target