[Unit]
Description=Robot thong minh canh layout US cho Phuong
# Bỏ After=graphical-session để tránh bị kẹt, dùng sleep trong script sẽ an toàn hơn
After=basic.target

[Service]
Type=simple
# Dùng đường dẫn TUYỆT ĐỐI, không dùng %h hay dấu ~
ExecStart=/usr/bin/bash /home/phuong/dotfiles/bin/reset_kb.sh
Restart=always
RestartSec=3
# Thêm dòng này để Systemd ghi log chuẩn hơn
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target